.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-family: "Old English Text MT", "Showcard Gothic";
  font-size: calc(1.5em + 2vmin);
  /* font-size: 2.5em; */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.field-row {
  overflow: hidden;
}

.field-row .label {
  display:flex;
  width: 30%;
  float: left;
}

.field-row .field-container {
  width: 70%;
  float: left;
}

input {
  padding: 5px;
}

.hints {
  width: 150px;
  float: left;
}

label {
  font-weight: bold;
}